@model IncomeViewModel
@{
    ViewData["Title"] = "CreateNewIncome";
}

<h2>Create new income.</h2>



<form asp-controller="Income" asp-action="CreateNewIncome" method="post">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <label asp-for="IncomeType">Choise income type from list: </label>
            <div class="input-group">
                <select name="number">
                    @foreach (var item in Enum.GetValues(typeof(IncomeTypeViewModel)).Cast<IncomeTypeViewModel>().ToList())
                    {
                        <option value="@item">@item</option>
                    }
                </select>
            </div>
            <span asp-validation-for="IncomeType" class="text-danger"></span>

            <label asp-for="IncomeValue">Enter value:</label>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></span>
                <input asp-for="IncomeValue" type="text" class="form-control" placeholder="Income" />
            </div>
            <span asp-validation-for="IncomeValue" class="text-danger"></span>
            <button class="btn btn-success" type="submit">Add Income</button>
        </div>
    </div>
</form>

