@model LoginViewModel
@{
    ViewData["Title"] = "LogIn";
}



<div class="row">
    <div class="col-md-8">
        <centered>
            <picture>
                <source type="image">
                <img src="~/images/logo.png" class="img-fluid img-thumbnail" alt="Budget App Logo">
            </picture>
        </centered>
        <form asp-action="LogIn">
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </form>
    </div>
</div>

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-8">
                <h4>
                    Don't have an account?
                    <a asp-action="Register" asp-controller="User">
                        Register here!
                    </a>
                </h4>
            </div>
        </div>
    </div>




